html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 40px;
}

h1 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d05c2e;
  color: #fff;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  background-color: #d05c2e;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
}

li {
  border-color: #a63f38;
  padding: .5em 0;
  font-size: 1.125rem;
  border: 1px solid #a63f38;
  text-align: center;
}

ul li {
  width: 33.3333%;
}

a:hover {
  background-color: #a63f38;
}
